<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>multiply</title>
</head>
{%include 'menu.html'%}
<body>
    <h3>Таблица умножения</h3>
    <p>Таблица умножения на {{a}}:</p>
    <p>{{b}}</p>
    <ul>
        <li>{{a1}}</li>
        <li>{{a2}}</li>
        <li>{{a3}}</li>
        <li>{{a4}}</li>
        <li>{{a5}}</li>
        <li>{{a6}}</li>
        <li>{{a7}}</li>
        <li>{{a8}}</li>
        <li>{{a9}}</li>
        <li>{{a10}}</li>
    </ul>




</body>
</html>